  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


/* ------------- */
/* ------------- */
/*    RESET      */
/* ------------- */
/* ------------- */


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

/* make form elements inherit some styles*/
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------- */
/* ----------------- */
/* Custom Properties */
/* ----------------- */
/* ----------------- */

:root {
--pale-blue: hsl(225,100%,94%);
--bright-blue: hsl(245,75%,52%);
--very-pale-blue: hsl(225,100%,98%);
--desatured-blue: hsl(224,23%,55%);
--dark-blue: hsl(223,47%,23%);
}


/* ------------- */
/* ------------- */
/*     Main      */
/* ------------- */
/* ------------- */


body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pale-blue);
}

.summary-container {
    width: 355px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
.summary-content {
    padding: 2.1em 3em;
    text-align: center;
}
h1 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5em;
}
.content-paragraph {
    color: var(--desatured-blue);
    font-size: 1rem;
    font-weight: 500;
}

.content-plan {
  background-color: var(--very-pale-blue);
  display: flex;
  margin: 1.4em;
}

button  {
    display: block;
    margin: 0 auto;
    background-color: var(--bright-blue);
    padding: 10px 0;
    border-radius: 11px;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}

button:nth-of-type(2) {
    background: none;
    border-color: transparent;
    color: var(--very-dark-blue);
    margin-top: 1em;
}
